.travelWrapper {
  padding: 1rem;
}

.travelHeading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.travelIntro {
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}

.sectionHeading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.accommodationList {
  list-style-type: none;
  padding: 0;
}

.accommodationList li {
  margin-bottom: 1.5rem;
}

.travelIdeasList {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-family: "Brandon Grotesque Regular";
  font-weight: 00;
  font-style: normal;
  line-height: 1.6;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16.8px;
  color: rgb(91, 92, 91);
}

.travelIdeasList li {
  margin-bottom: 0.5rem;
}

.travelContainer {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  /* font-family: "Futura Std Medium";
  font-weight: 500;
  font-style: normal;
  line-height: 1.2; */
  /* text-transform: uppercase; */
  /* letter-spacing: 2.6px;
  font-size: 20px;
  color: #910d25; */
}

.sectionTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.accommodationList {
  list-style-type: none;
  padding: 0;
}

.accommodationList li {
  margin-bottom: 1.5rem;
}

.centeredTextStyles {
  text-align: center;
}

.pageTitle {
  text-align: center;
}

.lgMarginBottomStyles {
  margin-bottom: 2rem;
}

.smallDivider {
  display: inline-block;
  height: 50px;
  width: 200px;
  background-image: url("/images/smalldivider.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.eventsHeading {
  font-family: "Futura Std Medium";
  font-weight: 400;
  font-style: normal;
  line-height: 2.4;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 32.4px;
  color: rgb(91, 92, 91);
  margin: 0px;
}

.accordianTitle{
  font-size: 1.25em;
  font-family: "Futura Std Medium";
  color: #466f5d;
  font-weight: 400;
}
.accordianButton{
  font-size: 1.25em;
  font-family: "Futura Std Medium";
  color: rgb(91, 92, 91);
  font-weight: 400;
  margin-bottom: 0.5rem;
}