.weddingPartyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 2rem;
}

@media (max-width: 600px) {
  .partyGroups {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
  .weddingPartyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 0%;
    padding: 2rem;
  }
  .officiantGroups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 0%;
  }
}

.partyGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  gap: 2rem;
}

.officiantGroups {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: auto; /* Add this line */
}

.parentGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  width: 80%;
}

.partyGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

/* .bridalParty {
  align-items: flex-start;
}

.groomsmen {
  align-items: flex-end;
} */

.memberWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.memberImageContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height */
  position: relative; /* For Next.js Image component */
}

.memberImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.memberName {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.memberTitle {
  font-size: 1rem;
  color: gray;
  font-family: "Futura Std Medium";
}

.memberRelationship {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  .partyGroups {
    flex-direction: column;
  }

  .bridalParty,
  .groomsmen {
    align-items: center;
  }
}

.verticalDivider {
  height: 200px; /* Adjust the height to match your layout */
  width: 2px; /* This can be thinner or thicker as you prefer */
  background-color: #000; /* Or any color that suits your design */
  margin: 0 auto; /* This centers the divider if within a flex container with flex-direction: column */
}

.membersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emphasizedTitle {
  font-family: "Futura Std Medium";
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: #466f5d;
  /* Add any other styling as needed */
}

.eventsHeading {
  font-family: "Futura Std Medium";
  font-weight: 400;
  font-style: normal;
  line-height: 2.4;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 32.4px;
  color: rgb(91, 92, 91);
  margin: 0px;
}

.centeredTextStyles {
  text-align: center;
}

.pageTitle {
  text-align: center;
}

.lgMarginBottomStyles {
  margin-bottom: 2rem;
}

.smallDivider {
  display: inline-block;
  height: 50px;
  width: 200px;
  background-image: url("/images/smalldivider.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.memberRelationship {
  text-align: center;
  font-family: "Brandon Grotesque Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16.8px;
  color: rgb(91, 92, 91);
}

.memberName {
  font-family: "Futura Std Medium";
  font-weight: 400;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: 1px;
  font-size: 22px;
  color: rgb(91, 92, 91);
  margin: 0px;
}