.weddingPartyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 2rem;
}

@media (max-width: 600px) {
  .partyGroups {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.partyGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  gap: 2rem;
}

.parentGroups {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 80%;
}

.memberWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.memberImageContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.memberName {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.memberTitle {
  font-size: 1rem;
  color: gray;
}

.officiantGroups {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
